In [42]:
import mysql.connector as connection

In [43]:
conn = connection.connect(host="localhost",user="root",use_pure=True)

In [44]:
cur = conn.cursor()

In [45]:
# cur.execute("create database a")

In [46]:
res = cur.fetchall()

InterfaceError: No result set to fetch from

In [47]:
for i in res :
    print(i[0])

In [48]:
query = "SHOW DATABASES"
cur.execute(query)

In [49]:
print(cur.fetchall())

[('a',), ('information_schema',), ('mysql',), ('performance_schema',), ('student',), ('student1',), ('sudhanshu12345',), ('sys',), ('taskdb',)]

In [54]:
mydb = connection.connect(host="localhost", database = 'taskdb',user="root",use_pure=True)

In [55]:
cur = mydb.cursor()

In [56]:
cur.execute("select * from tasktable")

In [57]:
for i in cur.fetchall():
    print(i)

('nizam', 6867)
('sanjoy', 1234)